.page {
  margin-bottom: 4em;
  font-size: 1.0rem;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  line-height: 1.6rem;
  .page-title {
    color: $theme-color;
    margin-top: 0;
    text-transform: uppercase;
  }
}

