---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <h4 style="margin-top:0;"><span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  </h4>
  <h4 style="font-weight: 400; line-height: 1.8;"><article>
    {{ content }}
  </article></h4>
  <br><br>
  <a href="https://ratsgo.github.io/natural%20language%20processing/2019/09/12/embedding/">
    <picture>
      <source media="(max-width: 400px)" srcset="https://i.imgur.com/NrwbbXx.jpg">
      <img src="https://i.imgur.com/GTbfcSt.jpg">
    </picture>
  </a>
</div>

{% for item in site.data.related %}
  {% if page.slug == item.post %}
    <div class="related">
      <h2>Related Posts</h2>
        <ul class="related-posts">
          {% for pslug in item.related %}
            {% for p in site.posts %}
              {% if p.slug == pslug %}
                <li>
                  <h3>
                    <a href="{{ site.baseurl }}{{ p.url }}">
                      {{ p.title }}
                      <small>{{ p.date | date_to_string }}</small>
                    </a>
                  </h3>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endfor %}



{% if site.disqus_short_name %}
<div class="comments">
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <script>
var disqus_config = function () {
  this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = '//{{ site.disqus_short_name }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}