@include selection {
  background: $theme-color;
  color: $white;
}

html,body {
  overflow-x: hidden;
}

html {
  font-family: $font-sans;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -.025rem;
}

.modal-dialog{
    width: 94%;
    max-width: 700px;
    height: 70%;
}

.blockquote{
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
    font-size: 14px;
}

code {
  color: #666;
}